/* HEADER 
header{
    background: lightblue;
}*/

/* MAIN 
main{
    background: lightgoldenrodyellow;
}*/

/* Footer 
footer{
    background: lightblue;
}*/

/*.container{
    background: lightgray;
}*/

/* .menu{
    background: rgb(173, 41, 173);
} 

.container-text-r {
    background: #f1c40f; 
}

#section-jobs {
    background: lightgreen; 
}*/

/*#section-skills {
    background: lightgoldenrodyellow; 
}

#section-contact {
    background: #34495e; 
}

#section-socialMedia {
    background: #1abc9c; 
}
#section-about {
    background: #fff; 
}*/

/* 
nav {
    background: lightblue; 
}

.container-text {
    background: lightgreen; 
}
*/

